<mat-accordion>
  <!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel> -->

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados Pessoais
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <pre>
      Nome: Wesley Not Pure
      Cpf: 221.388.861-23
      Rg: 30.046.622-5
      Data De Cadastro: 02/11/2012
      Celular: 61 9 92165587
      Telefone: 33759411
    </pre>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Endereço
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <pre>
      Endereço: QC 05 Rua A torre A3 Número 1
      Número de Moradores: 5
      Responsável: Não
    </pre>

  </mat-expansion-panel>



  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Veiculos
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <pre>
      Marca: Cadillac
      Modelo: Deville/Eldorado 4.9
      Ano: 1991
      RENAVAM: 75345277882
      Placa: JHY-9063
      Cor:Vermelho
    </pre>

    <pre>
      Marca: Honda
      Modelo: Fit Twist 1.5 Flex 16V 5p Aut.
      Ano: 2013
      RENAVAM: 99162627580
      Placa: JJS-6565
      Cor: Azul
    </pre>

  </mat-expansion-panel>
</mat-accordion>
