<div class="container-form">
  <h1>Visualizar Moradores</h1>
  <div class="input-group">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Digite o Nome Do Morador</mat-label>
      <input matInput type="text" placeholder="Digite o nome">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="visualizarMoradores()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<app-tabela></app-tabela>

<!-- <pre *ngIf="mostrarInfo">
  {{this.dados | json}}
</pre> -->
