<div class="demo-button-container">
  <h1>Cadastrar Moradores</h1>
  <button mat-raised-button (click)="addData()" class="demo-button">
    Adicionar Morador
  </button>
  <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Remover Morador
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome_completo">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{element.nome_completo}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef>cpf</th>
    <td mat-cell *matCellDef="let element">{{element.cpf}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="responsavel">
    <th mat-header-cell *matHeaderCellDef>Responsável</th>
    <td mat-cell *matCellDef="let element">{{element.responsavel}}</td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef>telefone</th>
    <td mat-cell *matCellDef="let element">{{element.telefone}}</td>
  </ng-container>

  <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef>idade</th>
    <td mat-cell *matCellDef="let element">{{element.idade}}</td>
  </ng-container>

  <ng-container matColumnDef="numero_de_moradores">
    <th mat-header-cell *matHeaderCellDef>numero_de_moradores</th>
    <td mat-cell *matCellDef="let element">{{element.numero_de_moradores}}</td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
