// .container{
//     margin-top:1rem;
// }

h1{
    text-align: center;
}

#login-form{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

mat-form-field{
    width: 20%;
}